*body{
  background-color: #f8f8f8;
}

.Student-form {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Center vertically on the screen */
}

.form-box {
  width: 100%;
  
  border: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

  .form-container {
    display: flex;
    justify-content: center;
  
  }
  .form-heading{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 300px;
    background-color: #f8f8f8;
  }
  
  .form-border{
    border: none;
  }

  .form-container {
    display: flex;
    justify-content: center;
  
  }
  .form-heading{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px
  }

  
  .form-border{
    border: none;
  }

 
  .form-control{
    width: 250px;
    border: none;
    font-weight: bold;

  }
  .form-label{
   padding: 0px;
    margin-right: 20px;
    margin-bottom: 0;
    width: 80px;
    display: inline-block;
    font-weight: bold;
  
  }
  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom:8px;
    border-radius: 1%;
    

  }
  .main:hover{
    transform: scale(1.02);
    background-color: rgb(222, 222, 222);

  }
   

  .editable{
    color: rgb(212, 145, 37);
    width: 250px;
  }
  .editButton{
    display: flex;
    justify-content: center;
  }